[Desktop Entry]
Encoding=UTF-8
Name=Bitore
Comment=Bitore P2P Cryptocurrency
Comment[fr]=Bitore, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitpre, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/bitcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
